@import './constants';

.bottom-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-highlight;
  color: $color-main;
  height: 56px;
  font-family: Pretendard;
  font-size: 16px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .btn-text-area {
    .btn-subtext {
      font-size: 14px;
      float: left;
    }
    .btn-text {
      &.sub-exist {
        float: right;
      }
    }
  }
  &.disabled {
    color: #9f9f9f;
  }
}

.text-app-bar {
  color: $color-highlight;
  background-color: $color-background;
  height: 68px;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  &.main-colored {
    background-color: $color-main;
  }

  .text-app-bar-content {
    margin-top: 20px;
    .text-app-bar-content-text {
      padding-top: 15px;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      align-items: center;
      text-align: center;
    }
    .text-app-bar-content-bbtn {
      position: fixed;
      left: 28px;
      padding-block: 17px;
    }
  }
}
