$color-background: #f6f6f6;

$color-highlight: #282f39;
$color-highlight-light: rgba($color-highlight, 0.05);
$color-66: #666666;

$color-text: #7f828c;

$color-main: #fad94f;
$color-main-dark: #fdba41;
$color-main-light: rgba($color-main, 0.2);

$common-border-radius: 16px;

$font-24: 24px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;
