$color-background: #f6f6f6;

$color-highlight: #282f39;
$color-highlight-light: rgba($color-highlight, 0.05);
$color-66: #666666;

$color-main: #fad94f;
$color-main-dark: #fdba41;
$color-main-light: rgba($color-main, 0.2);
