@import 'constants';

.App {
  height: 100vh;
  position: relative;
}

$app-bar-height: 72px;

.common-app-bar {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
  height: $app-bar-height;
}

.main-app-bar {
  box-sizing: border-box;
  height: 100%;
  padding: 0 20px;
  border-radius: 0 0 12px 12px;
  background: white;
  box-shadow: 0 3px 30px rgba($color-highlight, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-app-bar-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      position: relative;

      &.new::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 2px;
        right: 2px;
        background: $color-main;
      }

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: $color-background;
}

main {
  height: calc(100% - #{$app-bar-height});
  padding-top: $app-bar-height;
  background: $color-background;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  // .create-meeting-page.calendar-selector {
  //   &.background-color: $color-main;
  // }
  // .create-meeting-page.place-info {
  //   background-color: $color-main;
  // }
}

textarea {
  resize: none;
}

.kezuler-modal {
  background: none;
  box-shadow: none;
  width: 100%;
  align-items: center;
}
