@import './constants';

.storage-wrapper {
  margin-top: $app-bar-height;
  // background-color: #f6f6f6;
  padding: 30px;
  @media (max-height: $short-height-size) {
    margin-top: $app-bar-height--short;
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &.flex-column {
    flex-direction: column;
  }

  .storage-add-button {
    line-height: 0px;
    position: relative;
    width: 42%;
    padding-bottom: 42%;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 15px 35px #282f390d;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #cccccc;
    }
    .storage-add-button-cross {
      position: absolute;
      > svg {
        font-size: 32px;
        color: #00000060;
      }
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .storage-type-title {
    color: #282f39;
    padding-bottom: 15px;
  }

  .storage-type-select-box {
    display: flex;
    width: 100%;
    height: 65px;
    background-color: #fff;
    color: #282f39;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 15px 35px #282f390d;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
    &:hover {
      background-color: #cccccc;
    }
  }

  .storage-type-textarea {
    box-sizing: border-box;
    min-height: 350px;
    height: fit-content;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    box-shadow: 0px 15px 35px #282f390d;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    font-size: 18px;

    font-family: Pretendard;
  }

  .storage-type-memo-content {
    box-sizing: border-box;
    min-height: 300px;
    height: fit-content;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 35px #282f390d;
    border-radius: 8px;
    font-size: 18px;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: Pretendard;
  }

  .storage-title-input {
    box-sizing: border-box;
    min-height: 30px;
    height: fit-content;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    font-size: 18px;
  }

  .storage-box {
    position: relative;
    width: 42%;
    padding-bottom: 42%;
    margin-bottom: 40px;
    box-shadow: 0px 15px 35px #282f390d;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #cccccc;
    }

    .storage-box-title {
      position: absolute;
      box-sizing: border-box;
      text-align: center;
      padding: 4px;
      width: 100%;
      height: 25px;
      border-radius: 10px 10px 0px 0px;
      background-color: #fad94f;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .storage-box-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .storage-box-content {
      display: flex;
      box-sizing: border-box;
      position: absolute;
      justify-content: center;
      width: 100%;
      padding: 30px 5px 5px 5px;
      @media (max-width: 340px) {
        padding: 20px 5px 5px 5px;
      }
      top: 15px;
      height: 80%;
      overflow: hidden;
      word-break: break-all;
      white-space: pre-wrap;
    }

    .storage-box-image {
      box-sizing: border-box;
      position: absolute;
      object-fit: scale-down;
      width: 70%;
      height: 70%;
      top: 20px;
      margin-top: 10%;
      border-radius: 8px;

      @media (max-width: 340px) {
        margin-top: 8%;
      }
    }
  }

  .storage-og-wrapper {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    box-shadow: 0px 15px 35px #282f390d;
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;

    .storage-og-image {
      width: 100%;
      border-radius: 8px;
    }

    .storage-og-title {
      margin: 10px 0px;
    }

    .storage-og-desc {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .storage-og-url {
      width: 100%;
      font-size: 14px;
      color: #6695d8;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.comment-icon {
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
  @media (max-height: $short-height-size) {
    top: 19px;
  }
}

.dots-wrapper {
  position: relative;

  .dots-menu {
    position: absolute;
    border: 0.7px solid #bfbfbf;
    border-radius: 5px;
    right: 0px;
    background-color: #ffffff;
  }

  .dots-menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282f39;
    font-size: 14px;
    width: 96px;
    height: 30px;
    &.border-top {
      border-top: 0.7px solid #bfbfbf;
    }
  }
}
